In [1]:
# HANDLING DUPLICATED DATA
# While legitimate reasons may exist for keeping duplicated data, it's more common to remove it.
# Keeping duplicated data might skew data aggregations by inflating numbers, or could create other problems during analysis.
# In this section, you'll learn how to identify and drop duplicated data.

In [1]:
# FIND DUPLICATES
# Pandas refers to the `duplicated` function to identify duplicate rows in a DataFrame.

# Import libraries
import pandas as pd

# Create a DataFrame of actors called `best_actors_df`, record Halle Berry twice.
best_actors_df = pd.DataFrame({
    "Best Actors": ["Sam Jackson", "Halle Berry", "Halle Berry", "Eddie Murphy"]
})
# Display the results of `best_actors_df
display(best_actors_df)
# Display the duplicates with `duplicated()` function
display(best_actors_df.duplicated())
# Display the sum of the duplicated values
display(best_actors_df.duplicated().sum())

# As you can see, the output displays Halle Berry twice.
# When checking using the `duplicated()` function, this will return a `True` output for any duplicates.
# Obviously, the sum will reflect the amount of duplicates within the DataFrame.

    Best Actors
0   Sam Jackson
1   Halle Berry
2   Halle Berry
3  Eddie Murphy

0    False
1    False
2     True
3    False
dtype: bool

1

In [2]:
# DROP DUPLICATES
# The `drop_duplicates()` function removes duplicate rows:
best_actors_df = best_actors_df.drop_duplicates()
best_actors_df

    Best Actors
0   Sam Jackson
1   Halle Berry
3  Eddie Murphy